.example-container {
  width: 500px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-card {
  width: 100%;
}


.example-container {
  width: 500px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mat-card-title.card-titleRDVA {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    text-align: center
}

.example-full-width {
  width: 100%;
}

