
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title class="card-titleRDVA" >Connexion</md-card-title>
        <md-card-subtitle>Simulation de login</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>{{message}}</p>
      </md-card-content>
      <md-card-actions>          
         <md-input-container class="example-full-width">
          <input mdInput placeholder="Identifiant de connexion" [(ngModel)]="idLogin">
        </md-input-container>
         <button md-raised-button color="primary"style="width:100%" (click)="loginInternaute()">Connexion</button>
      </md-card-actions>
    </md-card>
  </div>
</div>

<!--
<p>
    <button (click)="loginInternaute()" ng-if="!authService.isLoggedIn">Internaute</button>
    <button (click)="loginConseiller()" ng-if="!authService.isLoggedIn">Conseiller</button>
    <button (click)="loginEmployeur()"  ng-if="!authService.isLoggedIn">Employeur</button>
    <button (click)="logout()"  ng-if="authService.isLoggedIn">Logout</button>
</p>-->

   
